
<!-- start fullwidth nav bar -->
<div class="row collapse">
    <div class="columns large-12">
        <nav class="top-bar">
            <ul class="title-area">
                <h1 class="logo">APP CHAT</h1>
            </ul>
            <div class="nav-el-left">
                <a href="/" class="left button video-button">BACK TO CHATROOM</a>
                <small class="room-info-meta left" ng-if="user.owns">You can remove your room by clicking delete in drop-down menu in the top right corner.</small>
                <small class="room-info-meta left" ng-cloak ng-if="!user.owns && user.inroom">You can create your own room as well (but you need to leave the current one first).</small>
            </div>
            <section class="top-bar-section">
                <div class="nav-el-right">
                    <ul class="right">
                        <li ng-cloak><div ng-show='status === "online"' class="circle show-online online"></div><div ng-hide='status === "online"' class="circle show-online offline"></div></li>
                        <li class="user-avatar square"></li>
                        <li class="triangle arrow-down"></li>
                    </ul>
                </div>
            </section>
        </nav>
    </div>
</div>

<!-- Begin page content -->
<div class="row collapse">
    <div class="columns large-3 large-5 large-centered">
        <div class="container login-margin-push login-form-container">
            <p id="subTitle"></p>
            <form class="form-inline" role="form">
                <label class="sr-only enter-chat-nickname-label" for="username">Start a video chat!</label>
                <input id="sessionInput" type="text" placeholder="Please enter a room name" class="form-control" />
                <button class="enter-chat-button button expand" type="submit">Create Room</button>
            </form>
            <div class="videoContainer">
                <video id="localVideo" oncontextmenu="return false;"></video>
                <div id="localVolume" class="volume_bar"></div>
            </div>
            <div id="remotes" class="remotes"></div>
        </div>
    </div>
</div>

<script src="/vendor/simplewebrtc.js"></script>
<script>
            // grab the room from the URL
            var room = location.search && location.search.split('?')[1];

            // create our webrtc connection
            var webrtc = new SimpleWebRTC({
                // the id/element dom element that will hold "our" video
                localVideoEl: 'localVideo',
                // the id/element dom element that will hold remote videos
                remoteVideosEl: '',
                // immediately ask for camera access
                autoRequestMedia: true,
                debug: false,
                detectSpeakingEvents: true,
                autoAdjustMic: false
            });

            // when it's ready, join if we got a room from the URL
            webrtc.on('readyToCall', function () {
                // you can name it anything
                if (room) webrtc.joinRoom(room);
            });

            function showVolume(el, volume) {
                if (!el) return;
                if (volume < -45) { // vary between -45 and -20
                    el.style.height = '0px';
                } else if (volume > -20) {
                    el.style.height = '100%';
                } else {
                    el.style.height = '' + Math.floor((volume + 100) * 100 / 25 - 220) + '%';
                }
            }
            webrtc.on('channelMessage', function (peer, label, data) {
                if (data.type == 'volume') {
                    showVolume(document.getElementById('volume_' + peer.id), data.volume);
                }
            });
            webrtc.on('videoAdded', function (video, peer) {
                console.log('video added', peer);
                var remotes = document.getElementById('remotes');
                if (remotes) {
                    var d = document.createElement('div');
                    d.className = 'videoContainer';
                    d.id = 'container_' + webrtc.getDomId(peer);
                    d.appendChild(video);
                    var vol = document.createElement('div');
                    vol.id = 'volume_' + peer.id;
                    vol.className = 'volume_bar';
                    video.onclick = function () {
                        video.style.width = video.videoWidth + 'px';
                        video.style.height = video.videoHeight + 'px';
                    };
                    d.appendChild(vol);
                    remotes.appendChild(d);
                }
            });
            webrtc.on('videoRemoved', function (video, peer) {
                console.log('video removed ', peer);
                var remotes = document.getElementById('remotes');
                var el = document.getElementById('container_' + webrtc.getDomId(peer));
                if (remotes && el) {
                    remotes.removeChild(el);
                }
            });
            webrtc.on('volumeChange', function (volume, treshold) {
                //console.log('own volume', volume);
                showVolume(document.getElementById('localVolume'), volume);
            });

            // Since we use this twice we put it here
            function setRoom(name) {
                $('form').remove();
                $('h1').text(name);
                $('#subTitle').text('Link to join: ' + location.href);
                $('body').addClass('active');
            }

            if (room) {
                setRoom(room);
            } else {
                $('form').submit(function () {
                    var val = $('#sessionInput').val().toLowerCase().replace(/\s/g, '-').replace(/[^A-Za-z0-9_\-]/g, '');
                    webrtc.createRoom(val, function (err, name) {
                        console.log(' create room cb', arguments);
                    
                        var newUrl = location.pathname + '?' + name;
                        if (!err) {
                            history.replaceState({foo: 'bar'}, null, newUrl);
                            setRoom(name);
                        } else {
                            console.log(err);
                        }
                    });
                    return false;          
                });
            }

            var button = $('#screenShareButton'),
                setButton = function (bool) {
                    button.text(bool ? 'share screen' : 'stop sharing');
                };
            webrtc.on('localScreenRemoved', function () {
                setButton(true);
            });

            setButton(true);

            button.click(function () {
                if (webrtc.getLocalScreen()) {
                    webrtc.stopScreenShare();
                    setButton(true);
                } else {
                    webrtc.shareScreen(function (err) {
                        if (err) {
                            setButton(true);
                        } else {
                            setButton(false);
                        }
                    });
                    
                }
            });
        </script>