
// variables.scss file

// colors

$top-nav-bar : #363636;
$sky-blue : #59B6E6;
$side-bar-module : #F6F6F6;
$side-bar-module-border : #B1B9C2;
$online-green : #9BCC46;
$offline-red : #C9282F;
$leave-yellow : #E8B829;